/* From Uiverse.io by ammarsaa */ 
body {
    color: #780116;
    background: #1a3125;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
    padding: 10px;
    border-radius: 20px;
    background-color: #780116;
    color: #f7b53b;
    border: 2px solid #f7b53b;
    border-spacing: 15px 50px;
    display: flex;
    flex-direction: column;
    gap: 25px; 
    max-width: 450px;
    padding: 30px; 
}


.Welcome {

    font-size: 15px;
    font-weight: 300;

}

.title {
    font-size: 30px;
    font-weight: 600;
    color: #f7b53b;
}

.input {
    background-color: #14281D;
    color: #00272b;
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(105, 105, 105, 0.5);
    border-radius: 10px;
    border-spacing: 15px 50px;
    font-size: medium;

}

.submit {
    background-color: #f7b53b;
    color: #00272b;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-spacing: 15px 50px;
    font-size: medium;
    font-weight: bold;
}

.submit:hover {
    background-color: #f3a30f;
}

.input {
    background-color: #333;
    color: #00272b;
    width: 95%;
    padding: 12px; 
    border: 1px solid rgba(105, 105, 105, 0.5);
    border-radius: 10px;
    margin-bottom: 15px; 
}

/* Transition */
body {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

body.fade-in {
    opacity: 1;
}

body.fade-out {
    opacity: 0;
}